<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../../css/materialize.css"  media="screen,projection"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script type="text/javascript" src="../../js/vendor/materialize.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/vendor/materialize.min.js"></script>

      <script type="text/javascript" src="src/angular-materialize.js"></script>
      <!-- App -->
      <script type="text/javascript" src="js/lists.js"></script>
    </head>

    <body>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="javascript:void(0);">List 1</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0);">List 2</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0);">List 3</a></li>
      </ul>
      <!-- Navbar goes here -->
      <nav>
        <div class="nav-wrapper yellow">
          <a href="index.html" class="brand-logo"><img src="../../images/leaf-small.png" alt="Bloc It Off"></a>
          <ul class="right hide-on-med-and-down">
            <li><img src="../../images/avatar.jpg" class="circle responsive-img"> <!-- notice the "circle" class --></li>
            <li><a href="sass.html">User name</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    <main role="main">
      <section role="region" class="container">
        <div class="row">
          <div class="col offset-s3">
              <a class="waves-effect waves-light btn-large blue accent-2"><i class="material-icons left">add</i>Add list</a>
          </div>
          <div class="col s12 m5">
            <div class="card-panel">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
    </body>
  </html>